/*Body*/

body{
    font-size: large;
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  antiquewhite;
    object-fit: scale-down;
}

/*Title of the page*/

header{
    text-align: center;
    font-size: 50px;
    background: linear-gradient(-45deg, #f7997d, #f577a7, #23a6d5, #23d5ab);
    animation: gradient 10s ease infinite;
    border-radius: 20px;
    border: 5px;
    border-style:ridge;
    align-items: center;
    background-size: 300% 150%;
}

#logo{
    border:2px;
    border-style: solid;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    border-color: black;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

#logo:hover{
    animation: border_ani1 2s infinite;
}

@media screen and (orientation:portrait){ /*Settings for mobile view*/
    header{
        font-size: 20px;
    }
    #logo{
        scale: 75%;
         margin-top: 10px;
    }
}

/*Header of each tool of the page*/

h1{
    font-size: 20px;
    border: 5px;
    padding-left: 8px;
    padding-bottom: 2px;
    padding: 12px;
    border-style: inset;
    border-radius: 20px;
    background: linear-gradient(-45deg, lightblue, orchid, lightblue, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 300% 150%;
    margin:10px;
}

@media screen and (orientation:portrait){ /*Settings for mobile view*/
    h1{
        font-size: 15px;
    }
}

/*Tab style for elements*/

#elements{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border: 5px;
    border-style: inset;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(-45deg, lightblue, orchid, lightblue, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 300% 150%;
}

@media screen and (orientation:portrait){ /*Settings for mobile view*/
    #elements{
        object-fit: scale-down;
        font-size: 14px;
    }
}

#elements td{
    margin: 10px;
    padding: 15px;
    border-style: outset;
    border-radius: 20px;
    background-color:lightpink;
    border: 5px;
    border-style: outset;
}

#elements td:hover{
    animation: border_ani2 1s infinite;
}

/*Tabs style for h1, h2 and h3*/

#tab2,#tab1,#tab0{
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    border-spacing: 5px;
    border-style: groove;
    border: 5px;
    border-radius: 20px;
    margin: 10px;
}

/*Style applied to the clanedar section*/

#calendar{
    object-fit: scale-down;
    width: 95.5%;
    margin-top: 10px;
    padding: 5px;
    display:grid;
}

#sendMail{ /*Style of the sendMail button*/
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 2px;
    border-style: inset;
    float:right;
    position:relative;
    margin: 3px;
    margin-right: 15px;
}

#gcal{
    height: 500px;
    width: 99%;
}

#sendMail:hover{
    animation: border_ani0 1s infinite;
}

/*Settings of style for the alpac@s selector*/

#tools{
    display: flex;
}

@media screen and (orientation:portrait){ /*Settings for mobile view*/
    #tools{
        display: grid;
    }
}

#selector{ /*Style of the div container*/
    border: 5px;
    border-style: outset;
    border-radius: 20px;
    padding-top: 0px;
    padding: 25px;
    margin: 15px;
    background-color:indianred;
}

#showHideAlpc{ /*Style of the show hide button of the tool*/
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 2px;
    border-style: inset;
    justify-content: center;
    margin: 3px;
    margin-right: 15px;
    max-width: 100px;
}

#buttons{ /*Ho to display the buttons for the tool*/
    width: 200px;
    height: 85px;
    display:grid;
    justify-content: left;
    left: 32px;
    position: relative;
    padding-bottom: 60px;
    margin: 10px;
}

#getAlpc, #resetAlpc, #addAlpc, #remAlpc{ /*buttons identifiers*/
    margin: 5px;
}

#sel{ /*Adjust the display of the elements*/
    justify-content: space-evenly;
}

#showHideAlpc:hover,#selector:hover{ /*Set up the animation for the buttons of the tool*/
    animation: border_ani2 1s infinite;
}

#returnList{ /*Style of the alpac@s selector list*/
    padding: 2px;
    border-radius: 20px;
    margin: 3px;
}

#list{ /*Style of the list of alpac@s returned*/
    float: right;
    width: 200px;
}

/*Style applied to the decider tool*/

#decider{ /*Style of the div container*/
    border: 5px;
    border-style: outset;
    border-radius: 20px;
    padding-top: 0px;
    padding: 25px;
    margin: 15px;
    background-color:indianred;
}

#decider:hover{ /*Animation of the decider container*/
    animation: border_ani2 1s infinite;
}

#optFields{ /*Style applied to options text boxes*/
    vertical-align: center;
    display:grid;
}

#showHideDec{ /*Style of the show hide button of the tool*/
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 2px;
    border-style: inset;
    justify-content: center;
    margin: 3px;
    margin-right: 15px;
    max-width: 100px;
}

#numChoices{ /*Style applied to the box which chooses the number of options*/
    border-style: solid;
    border-radius: 20px;
}

#decideBut, #resetDec{ /*Style of the buttons of the tool*/
    display:inline-block;
    margin: 5px;
}

#decideBut:hover, #resetDecider:hover,#showHideDec:hover{ /*Animations for the buttons*/
    animation: border_ani0 1s infinite;
}

/*Style for the coin*/

#coin{ /*Style of the div container*/
    border: 5px;
    border-style: outset;
    border-radius: 20px;
    padding-top: 0px;
    padding: 25px;
    margin: 15px;
    background-color:indianred;
}

#coin:hover{
    animation: border_ani2 1s infinite;
}

#dacoin{
    justify-content: center;
}

#showHideCoin{ /*Style of the show hide button of the tool*/
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 2px;
    border-style: inset;
    justify-content: center;
    margin: 3px;
    margin-right: 15px;
    max-width: 100px;
    margin: 5px;
}

#throwCoin,#throwAgain{
    justify-content: center;
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 2px;
    border-style: inset;
    margin: 5px;
}

#showHideCoin:hover, #throwCoin:hover{
    animation: border_ani0 1s infinite;
}

#aniCoin{
    display: flex;
}

/*Style for the workbench div*/

#workbench{
    border: 5px;
    border-style: inset;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(-45deg, lightblue, orchid, lightblue, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 300% 150%;
    justify-content: space-evenly;
    vertical-align: middle;
    display: flex;
}

@media screen and (orientation:portrait){ /*Settings for mobile view*/
    #workbench{
        font-size: 14px;
    }
}

/*Style of surprise div and surprise button*/

#surp{
    margin-top: 30px;
    border-radius: 20px;
    display: grid;
    margin-left: 50%;
    transform: translateX(-50%);
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 2px;
    border-style: inset;
    padding: 5px;
    width: 150px;
}

#surp:hover{
    animation: border_ani0 1s infinite;
}

.surprise{
    margin: 30px;
    margin-inline: 5px;
    justify-content: center;
    object-fit: scale-down;
}

@media screen and (orientation:portrait){ /*Settings for mobile view*/
    .surprise{
        transform: translateY(-50%);
        scale: 50%;
    }
}

/*Settings of style applied to the icon class*/

.icon {
    border-color: black;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    object-fit: scale-down;
    max-width: 100%;
    margin: auto;
}

.icon:hover{
    animation: border_ani0 0.75s infinite;
}

/*Style applied for all the buttons that belongs to the class button*/

.button{
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 2px;
    border-style: inset;
    float:right;
    position:relative;
    margin: 3px;
    margin-right: 5px;
    margin-bottom: 4px;
    min-width: 100px;
}

.button:hover{
    animation: border_ani2 1s infinite;
}

@media screen and (orientation:portrait){ /*Settings for mobile view*/
    .button{
        margin: auto;
    }
}

/*Style for cipher*/

#encoder{ /*Style of the div container*/
    border: 5px;
    border-style: outset;
    border-radius: 20px;
    padding-top: 0px;
    padding: 25px;
    margin: 15px;
    background-color:indianred;
}

#encoder:hover{
    animation: border_ani2 1s infinite;
}



#cipher,#decipher,#keygen{
    justify-content: center;
}

#ciph, #deciph, #kgen{
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 2px;
    border-style: inset;
}

/*Style for options*/

select:focus{
    animation: ani4sel 4s infinite;
}

/*Animations*/

@keyframes border_ani0{
    from {box-sizing: border-box;
        border-color: rgb(93, 103, 250);
        border-top-left-radius: 25px;
        border-bottom-right-radius: 30px;}
    25% {box-sizing: border-box; 
        border-color: rgb(247, 224, 97);
        border-top-right-radius: 30px;
        border-bottom-left-radius: 25px;}
    50%{box-sizing: border-box;
        border-color: rgb(89, 230, 248);
        border-top-left-radius: 30px;
        border-bottom-right-radius: 25px;}
    75%{box-sizing: border-box;
        border-color: rgb(248, 198, 89);
        border-top-right-radius: 30px;
        border-bottom-left-radius: 25px;}
    to {box-sizing: border-box;
        border-color:rgb(93, 103, 250);
        border-top-left-radius: 25px;
        border-bottom-right-radius: 30px;}
}

@keyframes border_ani1{
    from {box-sizing: border-box;
        border-color: rgb(250, 221, 93);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;}
    33% {box-sizing: border-box;
        border-color: rgb(136, 207, 136);
        border-top-left-radius: 18px;
        border-bottom-right-radius: 25px;}
    66%{box-sizing: border-box;
        border-color: rgb(89, 248, 89);
        border-top-right-radius: 15px;
        border-bottom-left-radius: 18px;}
    to {box-sizing: border-box;
        border-color:rgb(250, 221, 93);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;}
}

@keyframes border_ani2{
    from {box-sizing: border-box;
        border-color: rgb(250, 221, 93);}
    33% {box-sizing: border-box;
        border-color: rgb(136, 207, 136);}
    66%{box-sizing: border-box;
        border-color: rgb(89, 248, 89);}
    to {box-sizing: border-box;
        border-color:rgb(250, 221, 93);}
}

@keyframes mymove {
    from {background-color:aqua}
    15% {background-color:lightblue;}
    85%{background-color:lightblue;}
    to {background-color:aqua;}
  }

@keyframes ani4sel {
    from {background-color:rgba(255, 238, 182, 0.959)}
    20% {background-color:rgb(97, 121, 253);}
    40%{background-color:rgb(255, 238, 182, 0.959);}
    to {background-color:rgba(255, 238, 182, 0.959);}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes background1 {
    0%{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        animation: gradient 10s ease infinite;
    }100%{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        animation: gradient 10s ease infinite;
    }

}